body {
	margin-top: 50px;
	margin-bottom: 50px;
}
.container {
	max-width: 900px;
	padding: 0 15px;
	width: auto;
}
.container .footer-text {
	margin: 20px 0;
}
.badge {
	background-color: #e4aa48;
	margin-left: 5px;
}
button.link {
	background: none;
	border: 0;
	color: #fff;
	display: inline-block;
	margin: 0;
	outline: none;
	outline-offset: 0;
	padding: 3px;
}